* {
    margin: 0px;
    padding: 0px;
  }
  :root {
    background-color:  hsl(0, 6%, 88%);
  }

  .container{
    background-color: hsl(0, 6%, 88%);
    margin: 100px;
  }

  #base{
    display: flex;
    border: solid 1px red;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 30px 30px;
    border-radius: 5%;
    border-bottom-right-radius: 30%;
    
  }
  #form-group {
   
    


  }

 